<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="SQLConsoleUserSettings"
             type="SQLConsole.BizLogic.Configuration.UserSettingsConfigSection, SQLConsole.BizLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <!--<SQLConsoleUserSettings ConnectionString="Data Source=localhost;Initial Catalog=testdb;Integrated Security=True;User ID=sa;Password=astonish" />-->
  <SQLConsoleUserSettings ConnectionString="Data Source=localhost;Initial Catalog=MHC_VM;Integrated Security=True;User ID=sa;Password=astonish" />
</configuration>